<div class="content_top wow bounceInRight" data-wow-delay="0.4s">
    <div class="container">
        <div class="col-md-4 bottom_nav">
            <div class="content_menu">
                <ul>
                    <li class="active"><a href="#">Recomedado</a></li>
                    <li><a href="./novedad.html">Novedad</a></li>
                    <li><a href="./tendencia.html">Tendencia</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4-tiempo filter_grid">
            <ul class="filter2">
                <li class="fil">Ordenar por Tiempo :</li>
                <li><a href=""> <i class="icon1"> </i> </a></li>
                <li><a href=""> <i class="icon2"> </i> </a></li>
            </ul>
        </div>
        <div class="col-md-4 filter_grid">
            <ul class="filter">
                <li class="fil">Clase :</li>
                <li><a href=""> <i class="icon1"> </i> </a></li>
                <li><a href=""> <i class="icon2"> </i> </a></li>
                <li><a href=""> <i class="icon3"> </i> </a></li>
                <li><a href=""> <i class="icon4"> </i> </a></li>
                <li><a href=""> <i class="icon5"> </i> </a></li>
            </ul>
        </div>
    </div>
</div>