<div class="header">
    <div class="header-left">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""/></a>
        </div>
        <div class="menu">
            <a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
            <ul class="nav" id="nav">
                <li class="active"><a href="index.html">Inicio</a></li>
                <li><a href="./buscadorAvanzado.html">Buscador Avanzado</a></li>
                <div class="clearfix"></div>
            </ul>
            <script type="text/javascript" src="js/lib/responsive-nav.js"></script>
        </div>
        <div class="clearfix"></div>
    </div>

    <my-search>search loading...</my-search>

    <my-submenu>submenu loading...</my-submenu>

    <div class="clearfix"></div>
</div>