<div class="offering">
    <h2>Qué te puede ofrecer RecipesOnTime ?</h2>
    <h3>Todo el mundo de la cocina en tus manos</h3>
    <ul class="icons wow fadeInUp" data-wow-delay="0.4s">
        <li><i class="icon1"> </i><span class="one"> </span></li>
        <li><i class="icon2"> </i><span class="two"> </span></li>
        <li><i class="icon3"> </i><span class="three"> </span></li>
        <li><i class="icon4"> </i><span class="four"> </span></li>
        <li><i class="icon5"> </i></li>
    </ul>
    <div class="real">
        <h4>Cocina y Tecnología a la par</h4>
        <div class="col-sm-6">
            <ul class="service_grid">
                <i class="s1"> </i>
                <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum</p>
                </li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="service_grid">
                <i class="s2"> </i>
                <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum</p>
                </li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>